{% extends "layout.html" %}
{% block title %}Chosir un parcours{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
    <h1 class="text-center mb-4">Choix du parcours</h1>

    <div class="row">
        {% for niveau in parcours %}
            <div class="col-md-3 col-xl-2 niveau_container">
                <div class="card">
                    <h4 class="niveau_name card-header">{{ niveau }}</h4>
                    <div class="card-body">
                        <ul class="parcours_list list-unstyled">
                            {% for nom in parcours[niveau] %}
                                <li class="parcours_item"><a
                                        href="/choisir-groupe/{{ parcours[niveau][nom] }}?name={{ nom }}">{{ nom }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
