{% extends "layout.html" %}
{% block title %}Chosir un groupe{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center mb-4">Choix du groupe</h1>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h3 class="card-header">{{ name }}</h3>
                    <div class="card-body">
                        <ul class="group_list list-unstyled">
                            {% for g in groups %}
                                <li class="groupo_item"><a href="/fichier-ics/{{ groups[g] }}">{{ g }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
