{% extends "layout.html" %}
{% block title %}Lien vers le fichier ICS{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center mb-4">Abonnement à l'ICS</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="input-group input-group-lg mb-5">
                    <input class="form-control" type="text" id="ics_link"
                           value="https://{{ request.host }}{{ link }}">
                    <div class="input-group-append">
                        <button class="copy-btn btn btn-primary" data-clipboard-target="#ics_link">
                            Copier &nbsp;<i class="far fa-copy"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Ajout à Google Agenda</h2>
                <p>Accédez à <a href="https://calendar.google.com/">https://calendar.google.com/</a>, connectez-vous à
                    votre
                    compte Google et dans le bandeau de droite cliquez sur <b>+</b> puis <b>A partir d'une URL</b>.
                    Collez
                    le
                    lien généré ci-dessus puis validez. Pour consulter l'emploi du temps sur votre smartphone
                    (iOS/Android),
                    téléchargez l'applciation
                    <a href="https://www.google.com/calendar/about/">Google Agenda</a>.</p>
                <img src="{{ url_for('static', filename='img/google_agenda.png') }}" alt="" width="80%">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Ajout à Apple Calendar (iPhone/iPad)</h2>
                <p>Accédez à l'application <b>Réglages</b>, puis <b>Mots de passe et comptes</b>, puis <b>Ajouter un
                    compte</b>. Cliquez sur <b>Autres</b> et <b>Ajouter un cal. avec abonnement</b>. Enfin renseignez le
                    lien ci-dessus puis cliquez sur <b>Suivant</b>. Le champ <b>Description</b> permet de donner un nom
                    plus
                    reconnaissable au calendrier. Validez en cliquant sur <b>Enregistrer</b>.</p>
                <img src="{{ url_for('static', filename='img/ical_process.png') }}" alt="" width="100%">
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
    <script>

        $('.copy-btn').tooltip({
            trigger: 'click',
            placement: 'bottom'
        });

        function setTooltip(message) {
            $('.copy-btn').tooltip('hide')
                .attr('data-original-title', message)
                .tooltip('show');
        }

        function hideTooltip() {
            setTimeout(function () {
                $('.copy-btn').tooltip('hide');
            }, 1000);
        }


        var clipboard = new ClipboardJS('.copy-btn');

        clipboard.on('success', function (e) {
            setTooltip('Copié !');
            hideTooltip();
        });

        clipboard.on('error', function (e) {
            setTooltip('Failed!');
            hideTooltip();
        });
    </script>
{% endblock %}
